input {
    height: 44px;
    border-color: #ccc;
    padding: 10px;
}

.cadastro {
    margin-top: 15px;
    text-align: center;
}

.divisao {
    position: relative;
    margin: 30px 0;
}

.ou {
    position: absolute;
    background: #fff;
    top: -10px;
    width: 40px;
    left: 140px;
    text-align: center;
}