  <div class="row">
    <div class="col-md-12 text-right">
      <div class="filtro-loja">
        <div class="row">
          <div class="col-md-9 col-sm-9 label-select">
            Você está visualizando as estatísticas da loja:
          </div>
          <div class="col-md-3 col-sm-3">
            <select class="form-control"
              (change)="selecionarLoja($event)">
              <option *ngFor="let loja of lojas" [value]="loja.id">{{loja.nome}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="comparativoVendasPorDiaPorLojaData.length > 0">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="card-title mb-0">COMPARATIVO DE VENDAS DIÁRIAS POR LOJA</h4>
            </div>
          </div>
          <div class="chart-wrapper" style="margin-top:20px;">
            <canvas baseChart [datasets]="comparativoVendasPorDiaPorLojaData"
              [labels]="comparativoVendasPorDiaPorLojaLabels" [options]="comparativoVendasPorDiaPorLojaOptions"
              [legend]="comparativoVendasPorDiaPorLojaLegenda" [colors]="comparativoVendasPorDiaPorLojaColors"
              [chartType]="vendaDiariaPorLojaTipo"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="comparativoVendasPorMesPorLojaData.length > 0">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="card-title mb-0">COMPARATIVO DE VENDAS MENSAIS DE TODAS AS LOJAS</h4>
            </div>
          </div>
          <div class="chart-wrapper" style="margin-top:20px;">
            <canvas baseChart [datasets]="comparativoVendasPorMesPorLojaData"
              [labels]="comparativoVendasPorMesPorLojaLabels" [options]="comparativoVendasPorMesPorLojaOptions"
              [legend]="comparativoVendasPorMesPorLojaLegenda" [colors]="comparativoVendasPorMesPorLojaColors"
              [chartType]="comparativoVendasPorMesPorLojaTipo"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="acumuladoValorVendasPorMesData.length > 0">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="card-title mb-0">ACUMULADO DE VENDAS POR PERÍODO </h4>
              <div class="small text-muted"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="chart-wrapper" style="margin-top:20px;">
                <canvas baseChart [datasets]="acumuladoValorVendasPorMesData"
                  [colors]="acumuladoValorVendasPorMesColors" [labels]="acumuladoValorVendasPorMesLabels"
                  [options]="acumuladoValorVendasOptions" [legend]="acumuladoValorVendasPorMesLegenda"
                  [chartType]="acumuladoValorVendasPorMesTipo"></canvas>
              </div>
            </div>
            <div class="col-md-3">
              <table class="tabela">
                <tr>
                  <th>Valor</th>
                  <th>Quantidade</th>
                </tr>
                <tr *ngFor="let item of acumuladoValorVendasPorMesDados">
                  <td [ngStyle]="{'background-color':item.color}">
                    {{item.loja}}
                  </td>
                  <td [ngStyle]="{'background-color':item.color}">
                    {{item.valor  | currency:'BRL':true}} </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-12" *ngIf="acumuladoValorVendasPorFuncionarioData.length > 0">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="card-title mb-0">ACUMULADO DE VENDAS POR FUNCIONÁRIO (TODAS AS LOJAS)</h4>
              <div class="small text-muted"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="chart-wrapper" style="margin-top:20px;">
                <canvas baseChart [datasets]="acumuladoValorVendasPorFuncionarioData"
                  [labels]="acumuladoValorVendasPorFuncionarioLabels"
                  [options]="acumuladoValorVendasPorFuncionarioOptions"
                  [legend]="acumuladoValorVendasPorFuncionarioLegenda"
                  [colors]="acumuladoValorVendasPorFuncionarioColors"
                  [chartType]="acumuladoValorVendasPorFuncionarioTipo"></canvas>
              </div>
            </div>
            <div class="col-md-3">
              <table class="tabela">
                <tr>
                  <th>Vendedor</th>
                  <th>Acumulado</th>
                  <th>%</th>
                </tr>
                <tr *ngFor="let item of acumuladoValorVendasPorFuncionarioDados">
                  <td [ngStyle]="{'background-color':item.color}">
                    {{item.vendedor}}
                  </td>
                  <td [ngStyle]="{'background-color':item.color}">
                    {{item.valor  | currency:'BRL':true}}
                  </td>
                  <td [ngStyle]="{'background-color':item.color}">
                    {{item.porcentagem }} %
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="comparativoTicketVendasPorLojaData.length > 0">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="card-title mb-0">COMPARATIVO DE TKT MÉDIO DE VENDAS POR LOJA</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="chart-wrapper" style="margin-top:20px;">
                <canvas baseChart [datasets]="comparativoTicketVendasPorLojaData"
                  [labels]="comparativoTicketVendasPorLojaLabels" [options]="comparativoTicketVendasPorLojaOptions"
                  [legend]="comparativoTicketVendasPorLojaLegenda" [colors]="comparativoTicketVendasPorLojaColors"
                  [chartType]="comparativoTicketVendasPorLojaTipo"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="acumuladoVendasPorMesData.length > 0">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="card-title mb-0">ACUMULADO DE NÚMERO DE VENDAS POR PERÍODO</h4>
              <div class="small text-muted"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <div class="chart-wrapper" style="margin-top:20px;">
                <canvas baseChart [datasets]="acumuladoVendasPorMesData" [labels]="acumuladoVendasPorMesLabels"
                  [options]="acumuladoVendasOptions" [legend]="acumuladoVendasPorMesLegenda"
                  [chartType]="acumuladoVendasPorMesTipo" [colors]="acumuladoVendasPorMesColors"></canvas>
              </div>
            </div>
            <div class="col-md-3">
              <table class="tabela">
                <tr>
                  <th>Loja</th>
                  <th>Quantidade</th>
                </tr>
                <tr *ngFor="let item of acumuladoVendasPorMesDados">
                  <td [ngStyle]="{'background-color':item.color}">
                    {{item.loja}}
                  </td>
                  <td [ngStyle]="{'background-color':item.color}">
                    {{item.quantidade}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="numeroQtdVendasPorMesData.length > 0">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-sm-12">
              <h4 class="card-title mb-0">NÚMERO DE VENDAS MENSAIS FEITAS POR LOJA</h4>
              <div class="small text-muted"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <table class="tabela-acumulado">
                <thead>
                  <tr>
                    <th scope="col">ACUMULADO DO ANO</th>
                    <th scope="col">MÉDIA MENSAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> {{ numeroQtdVendasPorMesAcumulado }}</td>
                    <td>{{ numeroQtdVendasPorMesMedia }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="chart-wrapper" style="margin-top:20px;">
            <canvas baseChart [datasets]="numeroQtdVendasPorMesData" [labels]="numeroQtdVendasPorMesLabels"
              [options]="numeroQtdVendasPorMesOptions" [legend]="numeroQtdVendasPorMesLegenda"
              [colors]="numeroQtdVendasPorMesColors" [chartType]="numeroQtdVendasPorMesTipo"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="comparativoNumeroVendasPorLojaData.length > 0">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="card-title mb-0">COMPARATIVO DE NÚMERO DE VENDAS POR LOJA </h4>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-12 col-md-12">
              <table class="tabela-acumulado">
                <thead>
                  <tr>
                    <th scope="col">ACUMULADO DO ANO</th>
                    <th scope="col">MÉDIA MENSAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> {{ comparativoNumeroVendasPorAcumulado }}</td>
                    <td>{{ comparativoNumeroVendasPorMedia }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-12">
              <div class="chart-wrapper" style="margin-top:20px;">
                <canvas baseChart [datasets]="comparativoNumeroVendasPorLojaData"
                  [labels]="comparativoNumeroVendasPorLojaLabels" [options]="comparativoNumeroVendasPorLojaOptions"
                  [legend]="comparativoNumeroVendasPorLojaLegenda" [colors]="comparativoNumeroVendasPorLojaColors"
                  [chartType]="comparativoNumeroVendasPorLojaTipo"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
