

<li class="dropdown dropdown-inbox" (clickOutside)="exibir.notificacao = false">
    <a class="nav-link dropdown-toggle toolbar-icon" (click)="abrir()">
            <span class="badge badge-header"><i class="fas fa-bell"></i></span>
        <span class="envelope-badge" *ngIf="notificacao.novas > 0">{{notificacao.novas}}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-media modal-notificacao" [ngClass]="{'show': exibir.notificacao}">
        <div class="dropdown-arrow"></div>
        <div class="dropdown-header text-center">
            <div>
                <span class="font-18">Notificações</span>
            </div>
            <a class="text-muted font-13" (click)="marcarTudoComoLida()">Marcar todas como lida</a>
        </div>
        <div class="p-3 scroll-notificacao">
            <ul class="timeline custom-scroll" infinite-scroll (scrolled)="paginar()">
                <li class="timeline-item" *ngFor="let item of notificacao.lista">
                    <span class="timeline-point" [ngClass]="{'bg-blue': !item.lida, 'bg-secondary': item.lida}"></span><a (click)="navegar(item)">{{item.descricao}}</a><small class="float-right text-muted ml-2 nowrap">{{item.data}}</small>
                </li>
            </ul>
        </div>
    </div>
</li>