.fundo-nao-logado {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0060a0;
    background: url('/assets/img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login-content {
   
}

body.empty-layout .theme-config, body.empty-layout .to-top{
    display: none !important;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
    .fundo-nao-logado {
        background: none !important;
    }
    .login-content {
        margin: 0 auto !important;
    }
}

