<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Fluxo de Caixa
  </div>
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-6 col-sm-4 col-md-2 mb-3">
        <button type="button" class="btn btn-block btn-primary">Abrir Caixa</button>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Responsável</th>
          <th>Data abertura</th>
          <th>Data fechamento</th>
          <th>Total</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>#3</td>
          <td>Lorena Soares</td>
          <td>03/01/2019 08:02</td>
          <td></td>
          <td>R$2000.00</td>

          <td>
            <span class="badge badge-success">Aberto</span>
          </td>
          <td>
            <i class="fa fa-eye" style="font-size:15px;padding-left:5px;">&nbsp;&nbsp;</i>

            <i class="fa fa-close" style="color:Red; font-size:15px;"></i>
          </td>
        </tr>
        <tr>
          <td>#2</td>
          <td>Rafaela Rosario</td>
          <td>02/01/2019 08:00</td>
          <td>02/01/2019 18:00</td>
          <td>R$1050.00</td>
          <td>
            <span class="
                badge badge-danger">Fechado</span>
          </td>
          <td> <i class="fa fa-eye" style="font-size:15px;padding-left:5px;">&nbsp;&nbsp;</i>
          </td>
        </tr>
        <tr>
          <td>#1</td>
          <td>Daniel Cunha</td>
          <td>01/01/2019 08:03</td>
          <td>01/01/2019 18:20</td>
          <td>R$580.00</td>
          <td>
            <span class="badge badge-danger">Fechado</span>
          </td>
          <td> <i class="fa fa-eye" style="font-size:15px;padding-left:5px;">&nbsp;&nbsp;</i>
          </td>
        </tr>
      </tbody>
    </table>
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
    </ul>
  </div>
</div>
