<div class="col-sm-4 col-md-4">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Simular Acesso
    </div>
    <div class="card-body">
      <div class="form-group">
        Estou simulando acesso com <h1 class="text-info">{{ model.nome }}</h1>
      </div>
      <br />
      <div class="form-group">
        Simular o acesso com:
      </div>
      <br />
      <div class="form-group">
        <label>Empresa</label>
        <select class="form-control" [(ngModel)]="empresaSelecionada.id" [ngModelOptions]="{standalone: true}"
          (change)="selecionarEmpresa($event)">
          <option [ngValue]="0">-- Selecione --</option>
          <option *ngFor="let empresa of empresas" [value]="empresa.id">{{empresa.nome}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Loja</label>
        <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="lojaSelecionada.id">
          <option [ngValue]="0">-- Selecione --</option>
          <option *ngFor="let loja of lojas" [ngValue]="loja.id">{{loja.nome}}</option>
        </select>
      </div>
      <div class="form-group">
        <button (click)="simular()" class="btn  btn-primary"><i class="fa fa-save"></i>
          Salvar</button>&nbsp;
      </div>
    </div>
  </div>
</div>
